In [58]:
import dateutil.parser
dt = dateutil.parser.parse("2016-04-15T08:27:18-0500")

### Computing time differences
the timedelta module comes in handy to compute differences between times

In [56]:
import datetime
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2016, 5, 23)

In [49]:
# Specifying time is optional when creating a new datetime object
delta = now-then

In [53]:
print(delta.days)
print(delta.seconds)

2563
54181

To get n day's after and n day's before date we could use:<br>
<b>n day's after date:</b>

In [64]:
import datetime
def get_n_days_after_date(date_format="%d %B %Y", add_days=120):
    date_n_days_after = datetime.datetime.now() + timedelta(days=add_days)
    return date_n_days_after.strftime(date_format)
get_n_days_after_date()


# gives the next 120days date_month_year from today

'27 September 2023'

<b> n day's before date </b>

In [70]:
def get_n_days_before_date(self, date_format="%d %B %Y", days_before=120):
    
    date_n_days_ago = datetime.datetime.now() - timedelta(days=days_before)
    
    return date_n_days_ago.strftime(date_format)

get_n_days_before_date('seyi')

'30 January 2023'

### Basic datetime objects usage

In [85]:
import datetime

# Date object
today = datetime.date.today() #current date without time
print(today)

new_year = datetime.date(2023, 1, 1)
print(new_year)

# Time object
noon = datetime.time(12, 0, 0)
print(noon)

# Current datetime
now = datetime.datetime.now()  #time and date
print(now)

# Datetime object
millenium_turn = datetime.datetime(2000, 1, 1, 0, 0, 0) 
print(millenium_turn)

2023-05-30
2023-01-01
12:00:00
2023-05-30 15:35:29.025161
2000-01-01 00:00:00

In [87]:
# subtraction of noon from today

print('Time since the millenium at midnight: ',
datetime.datetime(today.year, today.month, today.day) - millenium_turn)

# Or this
print('Time since the millenium at noon: ',
datetime.datetime.combine(today, noon) - millenium_turn)

Time since the millenium at midnight:  8550 days, 0:00:00
Time since the millenium at noon:  8550 days, 12:00:00

### Switching between time zones
To switch between time zones, you need datetime objects that are timezone-aware

In [90]:
from datetime import datetime
from dateutil import tz

utc = tz.tzutc()
local = tz.tzlocal()

utc_now = datetime.utcnow()

print(utc_now) # Not timezone-aware.

utc_now = utc_now.replace(tzinfo=utc)

print(utc_now) # Timezone-aware.

local_now = utc_now.astimezone(local)

print(local_now) # Converted to your local time

2023-05-30 14:41:14.428497
2023-05-30 14:41:14.428497+00:00
2023-05-30 15:41:14.428497+01:00

### Simple date arithmetic
Dates don't exist in isolation. It is common that you will need to find the amount of time between dates or
determine what the date will be tomorrow. This can be accomplished using timedelta object

In [91]:
import datetime
today = datetime.date.today()
print('Today:', today)
yesterday = today - datetime.timedelta(days=1)
print('Yesterday:', yesterday)
tomorrow = today + datetime.timedelta(days=1)
print('Tomorrow:', tomorrow)
print('Time between tomorrow and yesterday:', tomorrow - yesterday)

Today: 2023-05-30
Yesterday: 2023-05-29
Tomorrow: 2023-05-31
Time between tomorrow and yesterday: 2 days, 0:00:00

### Converting timestamp to datetime
The datetime module can convert a POSIX timestamp to a ITC datetime object.

The Epoch is January 1st, 1970 midnight.

In [99]:
import time
from datetime import datetime
seconds_since_epoch=time.time() #1469182681.709
utc_date=datetime.utcfromtimestamp(seconds_since_epoch) 
print(seconds_since_epoch)
print(utc_date)

1685458340.21071
2023-05-30 14:52:20.210710

### Subtracting months from a date accurately
Using the calendar module

In [122]:
import datetime
import dateutil.relativedelta
d = datetime.datetime.strptime("2023-03-31", "%Y-%m-%d")
d2 = d - dateutil.relativedelta.relativedelta(months=1) #subtracts by 1 month
print(d2)

2023-02-28 00:00:00

### Get an ISO 8601 timestamp

In [123]:
from datetime import datetime
datetime.now().isoformat()

'2023-05-30T16:11:42.755885'

#### Without timezone, with microseconds

In [126]:
from datetime import datetime
datetime.now().isoformat()

'2023-05-30T16:15:25.665642'

#### With timezone, with microseconds

In [124]:
from datetime import datetime
from dateutil.tz import tzlocal
datetime.now(tzlocal()).isoformat()

'2023-05-30T16:14:47.586721+01:00'

#### With timezone, without microseconds

In [125]:
from datetime import datetime
from dateutil.tz import tzlocal
datetime.now(tzlocal()).replace(microsecond=0).isoformat()

'2023-05-30T16:15:17+01:00'

### Fuzzy datetime parsing (extracting datetime out of a text)
It is possible to extract a date out of a text using the dateutil parser in a "fuzzy" mode, where components of the string not recognized as being part of a date are ignored

In [138]:
import datetime
from dateutil.parser import parse
dt = parse("Today is January 1, 2047 at 8:21:00AM", fuzzy=True)
print(dt)
dts = dt - datetime.datetime.today()
print(dts)

2047-01-01 08:21:00
8616 days, 15:56:55.969859

### Iterate over dates
Sometimes you want to iterate over a range of dates from a start date to some end date. You can do it using
datetime library and timedelta object:

In [148]:
import datetime
# The size of each step in days
day_delta = datetime.timedelta(days=1)
print(day_delta)
start_date = datetime.date.today()  #current date 
print('start_date:', start_date)
end_date = start_date + 7*day_delta  #current date + 7*1
print('end_date:', end_date)
for i in range((end_date - start_date).days):
    print(start_date + i*day_delta)  
#iterates over the date frmo the start_date 7 times

1 day, 0:00:00
start_date: 2023-05-30
end_date: 2023-06-06
2023-05-30
2023-05-31
2023-06-01
2023-06-02
2023-06-03
2023-06-04
2023-06-05

### Time between two date-times

In [157]:
from datetime import datetime
a = datetime(2023,10,12,23,59,59)
b = datetime(2023,5,30,0,0,0)
a-b
print(a-b)
days = (a-b).days
print('days dif:', days)
secs = (a-b).total_seconds()
print('secs dif:', secs)

135 days, 23:59:59
days dif: 135
secs dif: 11750399.0

### Outputting datetime object to string

In [160]:
from datetime import datetime
datetime_for_string = datetime(2023,10,13,0,0)
datetime_string_format = '%b %d %Y, %H:%M:%S'
datetime.strftime(datetime_for_string,datetime_string_format)
# Oct 13 2023, 00:00:00

'Oct 13 2023, 00:00:00'

### Parsing string to datetime object

In [164]:
from datetime import datetime
datetime_string = 'Oct 13 2023, 00:00:00'
datetime_string_format = '%b %d %Y, %H:%M:%S'
datetime.strptime(datetime_string, datetime_string_format)
# datetime.datetime(2023, 10, 13, 0, 0)

datetime.datetime(2023, 10, 13, 0, 0)